body {
    margin: 0;
}

.topo {
    width: 100%;
    background-color: white !important;
    height: 100px;
    border-bottom: 1px solid #eeeeee;
    align-items: center;
    display: flex;
}

.topo .container {
    display: flex;
    margin: auto;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
}

.topo .container .busca {
    border: 1px solid #eeeeee;
    margin: auto;
    align-items: center;
    width: 400px;
    height: 40px;
    border-radius: 40px;
    padding-left: 5px;
}

.topo .container .busca textbox {
    border: none;
    height: 18px;
    width: 90%;
    text-align: left;
    margin-left: 5px;
}

.topo .container .busca .iconeBusca {
    height: 30px;
}

.topo .container .logo {
    width: 150px;
    margin-top: auto;
}

.topo .container .busca {
    display: flex;
    flex-direction: row;
}

.topo .container .busca:hover {
    box-shadow: 0px 4px 12px 1px#eeeeee;
    transition: box-shadow 500ms ease-out 100ms
}

.topo .container .perfil {
    display: flex;
    border: 1px solid #eeeeee;
    border-radius: 40px;
    width: 100px;
    padding: 5px;
    justify-content: space-between;
}

.topo .container .perfil .menu {
    height: 20px;
    margin: auto;
}

.topo .container .perfil .imagem {
    height: 40px;
}

/* Barra com icones de tipos de lugares */
.barraTipos {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 40px;
    width: 94%;
}

.barraTipos .tipo {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 200px;
    text-align: center;
    filter: contrast(calc(13 / 44));
    cursor: pointer;

    margin-bottom: 2px;
}

.barraTipos .tipo:hover {
    border-bottom: 2px solid #eeeeee;
    margin-bottom: 0px;
}

.barraTipos .tipo .icone {
    margin: auto;
    height: 24px;
}

.barraTipos .tipo p {
    margin-top: 5px;
}

/* Lugares */
.lugares {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lugares .imagem {
    width: 275px;
    height: 261px;
    border-radius: 15px;
}

.lugares .local {
    font-weight: 800;
    font-size: 18px;
    margin-top: 10px;
}

.lugares .tipo {
    margin-top: 5px;
    color: #717171;
}

.lugares .periodo {
    color: #717171;
}

.lugares .preco {
    margin-top: 5px;
}

.rodape {
    color: #717171;
    width: 90%;
    border-top: 1px solid #eeeeee;
    height: 20px;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 20px auto auto;
}
